
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Reset*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    /*
    Color Scheme
    */
  --text-primary: rgba(255, 255, 255, 0.87);
  --bg-primary: #242424;

}

#root{
  background: var(--bg-primary);
  color: var(--text-primary)
}